.div-elements {display: flex; justify-content: center;}

.element {background-color: black; color: white;
width: 900px; height: 300px; margin-bottom: 10px; margin-top: 50px;
display: flex; justify-content: flex-start; border-radius: 30px}

.Contenu {display: flex; justify-content: center; align-items: center; flex-direction: column; margin-right: 40px; margin-left: 40px;
margin-bottom: 40px; font-family: montserrat}

.NV {display: flex; justify-content: center;}

.Texte-box {display: flex; justify-content: center;}

.MJ {width: 50%; display: flex; justify-content: flex-end; border-radius: 30px}

.MJ-B {width: 44%; display: flex; justify-content: flex-end; border-radius: 30px}

.cards {
  padding: 15px 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-family: raleway;
  margin-top: 50px;
}

.card-element {
  width: 30%;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}